{% include "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator
    </title>

</head>
<body>
    <div style="margin:40px; border-style: solid;padding:25px;width:30%">
        <h5>Random Password Generator</h5>
        <input type="text" id="passwordGeneration"></input>
        <br>
        <label>Password Strength:</label>
        <select id = "passwordStrength">
            <option value="easy">Weak</option>
            <option value="medium">Medium</option>
            <option value="hard">Strong</option>
        </select>
        <br>
        <button onclick="Generate()">Generate</button>
        <button onclick="Copy()">Copy</button>
    </div>
</body>
</html>
<script>
    function Generate(){
         let password = "";
         let passwordStrength = document.getElementById("passwordStrength").value;
         let passwordLength;
         let chars;
         switch(passwordStrength) {
          case "easy":
            passwordLength = 6;
            chars = "0123456789abcdefghijklmnopqrstuvwxyz";
            break;
          case "medium":
            chars = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
            passwordLength = 9;
            break;
          case "hard":
            chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            passwordLength = 12;
        }
         for (let i = 0; i <= passwordLength; i++) {
           let randomNumber = Math.floor(Math.random() * chars.length);
           password += chars.substring(randomNumber, randomNumber +1);
         }
        document.getElementById("passwordGeneration").value = password;
    }

    function Copy(){
        navigator.clipboard.writeText(document.getElementById("passwordGeneration").value);
    }

</script>
{% endblock %}